[submodule "ext/bootstrap"]
	path = ext/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "ext/qunit"]
	path = ext/qunit
	url = git://github.com/jquery/qunit.git
[submodule "ext/jquery-loader"]
	path = ext/jquery-loader
	url = git://github.com/andrewrjones/simple-jquery-loader.git
