[submodule "ext/bootstrap"]
	path = ext/bootstrap
	url = git://github.com/twitter/bootstrap.git
[submodule "ext/yuicompressor"]
	path = ext/yuicompressor
	url = https://github.com/yui/yuicompressor.git
[submodule "ext/qunit"]
	path = ext/qunit
	url = git://github.com/jquery/qunit.git
