#hd {
  padding: 10px 0;
  h1 {
    font-weight: bold;
    font-size: 130%;
  }
}

#bd {
  p {
    padding: 3px 0;
  }
  pre {
    padding: 10px;
  }
  h2 {
    font-weight: bold;
    font-size: 115%;
    padding-bottom: 4px;
    padding-top: 4px;
  }
  h3 {
    font-size: 110%;
    padding: 8px 0 5px 0;
  }
  p.option-description {
    padding-left: 15px;
  }
  div.examples {
    h2 {
      padding-top: 0;
    }
  }
  div.html5-logo {
    padding-top: 30px;
  }
}

#ft {
  margin-top: 12px;
  font-size: 85%;
}
