!!! 5
html(lang='en', xml:lang='en', xmlns='http://www.w3.org/1999/xhtml')
head
    title jQuery Placeholder Plugin
    meta(content='text/html; charset=utf-8', http-equiv='Content-Type')
    meta(content='jQuery plugin that adds support for the placeholder attribute in all browsers', name='description')
    meta(content='Andrew Jones, http://andrew-jones.com', name='author')
    //if lt IE 9
      script(src='http://html5shim.googlecode.com/svn/trunk/html5.js', type='text/javascript')
    link(href='bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='index.min.css', rel='stylesheet', type='text/css')
    script(src='http://code.jquery.com/jquery-1.4.4.min.js', type='text/javascript')
    script(src='jquery.placeholder.js', type='text/javascript')
    link(href='jquery.placeholder.css', rel='stylesheet', type='text/css')
    script(src='http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js', type='text/javascript')
    link(href='http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css', rel='stylesheet', type='text/css')
    script(type='text/javascript')
      jQuery(document).ready(function($) {
      try {
        prettyPrint();
      } catch(err) {}
        $(":input[placeholder]").placeholder();
      });
  body
    a(href='http://github.com/andrewrjones/jquery-placeholder-plugin/')
      img(style='position: absolute; top: 0; right: 0; border: 0;', src='http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png', alt='Fork me on GitHub')
    .container
      .content
        .page-header
          h1 jQuery Placeholder Plugin
        .row
          .span10
            p
              | This is a simple plugin for 
              a(href='http://jquery.com', title='jQuery') jQuery
              |  that provides support for the 
              a(href='http://dev.w3.org/html5/spec/Overview.html#the-placeholder-attribute', title='HTML5 placeholder')
                | HTML5 
                code placeholder
              |  attribute in browsers that do not already support it.
            p
              | To use it, simply add the plugins CSS and JS files to the page and use the following JS to initialise it:
            pre.prettyprint.language-js.
              jQuery(document).ready(function($) {
                $(":input[placeholder]").placeholder();
              });              
            p
              | Then in your HTML document, use the 
              code placeholder
              |  attribute with 
              code input
              |  tags. For example:
            pre.prettyprint.language-html.
              <input type='text' placeholder='Some placeholding text' />              
            p
              | If the browser already supports the 
              code placeholder
              |  attribute then the plugin will do nothing, unless you provide the 
              code overrideSupport
              |  option.
            h2 Options
            p
              | The following options can be passed to the plugin.
            h3 activeClass
            p.option-description
              | The class to apply when input is blurred. Defaults to 
              code placeholder
              | .
            h3  focusClass
            p.option-description
              | The class to apply when input is active. Defaults to 
              code placeholderFocus
              | .
            h3 overrideSupport
            p.option-description
              | Pass 
              code true
              |  to force the plugin to work on browsers which natively support the 
              code placeholder
              |  attribute. Defaults to 
              code false
              | .
            h3 preventRefreshIssues
            p.option-description
              | Optionally attempt to prevent Firefox from auto filling values on refresh, by turning 
              code autocomplete
              |  off. Defaults to 
              code true
              | .
            h2 Using With Autofocus
            p
              | If you want the field to autofocus when the browser loads, you need to ensure that you apply the placeholder first, as follows:
              pre.prettyprint.language-js.
                // apply placeholders - must be applied first before any autofocus actions
                $(":input[placeholder]").placeholder();
                // focus on the first text input field in the first field on the page
                $("input[type='text']:first", document.forms[0]).focus().select();                
              | Thanks to 
              a(href='https://github.com/hostdude99', title='hostdude99') hostdude99
              |  for the hint.
            h2 The Code
            p
              | You can download the source code from 
              a(href='http://github.com/andrewrjones/jquery-placeholder-plugin/downloads', title='downloads') GitHub
              |  or go to the plugins 
              a(href='http://andrew-jones.com/jquery-placeholder-plugin', title='jQuery Placeholder Plugin') homepage
              |  for more information.
            h2 Support
            p
              | Please use the 
              a(href='http://github.com/andrewrjones/jquery-placeholder-plugin/issues', title='issues') GitHub issues tracker
              |  for any bugs or issues.
            h2 Acknowledgements
            p
              | Thanks to 
              a(href='http://mal.co.nz', title='Mal Curtis') Mal Curtis
              |  for many bug fixes and enhancements. Has probably writting more of the code than I have ;-)
            h2 License
            p
              | This code is available under the MIT License. See the 
              a(href='LICENSE', title='MIT license') LICENSE
              |  file for more details.
          .span4
            h2 Examples
            h3 Text
            input(name='text-example', placeholder='Some placeholding text', size='25', type='text')
            h3 Search
            input(name='search-example', placeholder='Do a search...', size='25', type='search')
            h3 Email
            input(name='email-example', placeholder='Please enter an email address', size='25', type='email')
            h3 URL
            input(name='url-example', placeholder='Please enter a URL', size='25', type='url')
            .html5-logo
              a(href='http://www.w3.org/html/logo/')
                img(src='http://www.w3.org/html/logo/badge/html5-badge-h-semantics.png', width='133', height='64', alt='HTML5 Powered with Semantics', title='HTML5 Powered with Semantics')
      footer
        p
          | © 2012 
          a(href='http://andrew-jones.com') Andrew Jones
