%html{ :xmlns => "http://www.w3.org/1999/xhtml", :lang => "en", "xml:lang" => "en"}
  %head
    %title jQuery Placeholder Plugin
    %meta{"http-equiv" => "Content-Type", :content => "text/html; charset=utf-8"}
    %link{:rel => "stylesheet", :href => "http://yui.yahooapis.com/2.7.0/build/reset-fonts-grids/reset-fonts-grids.css", :type => "text/css"}
    %link{:rel => "stylesheet", :href => "index-min.css", :type => "text/css"}
    %script{:type => "text/javascript", :src  => "jquery-1.4.2.js"}
    %script{:type => "text/javascript", :src  => "jquery-placeholder-plugin.js"}
    %link{:rel => "stylesheet", :href => "jquery-placeholder-plugin.css", :type => "text/css"}
    :javascript
        jQuery(document).ready(function($) {
            $(":input[placeholder]").placeholder();
        });
  %body
    :plain
      <a href="http://github.com/andrewrjones/jquery-placeholder-plugin/"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub" /></a>
    %div{:id => "custom-doc", :class => "yui-t7"}
      #hd
        %h1 jQuery Placeholder Plugin
      #bd
        %div{:class => "yui-gc"}
          %div{:class => "yui-u first"}
            %p
              This is a simple plugin for
              %a{:href => "http://jquery.com"} jQuery 
              that provides support for the
              %a{:href => "http://dev.w3.org/html5/spec/Overview.html#the-placeholder-attribute"} HTML5 <code>placeholder</code>
              attribute in browsers that do not already support it.
            %p
              To use it, simply add the plugins CSS and JS files to the page and use the following JS to initialise it:
              %pre
                :preserve
                  jQuery(document).ready(function($) {
                    $(":input[placeholder]").placeholder();
                  });
              Then in your HTML document, use the
              %code placeholder
              attribute with
              %code input
              tags. For example:
              %pre
                :escaped
                  <input type='text' placeholder='Some placeholding text' />
              If the browser already supports the
              %code placeholder
              attribute then the plugin will do nothing, unless you provide the
              %code overrideSupport
              option.
            %h2 Options
            %p
              The following options can be passed to the plugin.
            %h3 blurClass
            %p{:class => "option-description"}
              The class to apply when input is blurred. Defaults to
              %code placeholderBlur
            %h3 activeClass
            %p{:class => "option-description"}
              The class to apply when input is active. Defaults to
              %code placeholderFocus
            %h3 overrideSupport
            %p{:class => "option-description"}
              Pass
              %code true
              to force the plugin to work on browsers which natively support the
              %code placeholder
              attribute. Defaults to
              %code false
            %h2 Using With Autofocus
            %p
              If you want the field to autofocus when the browser loads, you need to ensure that you apply the placeholder first, as follows:
              :plain
                <pre>// apply placeholders - must be applied first before any autofocus actions
                $(":input[placeholder]").placeholder({ preventRefreshIssues: true });
                // focus on the first text input field in the first field on the page
                $("input[type='text']:first", document.forms[0]).focus().select();
                </pre>
              Thanks to
              %a{:href => "https://github.com/hostdude99"} hostdude99
              for the hint.
            %h2 The Code
            %p
              You can download the source code from
              %a{:href => "http://github.com/andrewrjones/jquery-placeholder-plugin/downloads"} GitHub
              or go to the plugins
              %a{:href => "http://andrew-jones.com/jquery-placeholder-plugin"} homepage
              for more information
            %h2 Support
            %p
              Please use the
              %a{:href => "http://github.com/andrewrjones/jquery-placeholder-plugin/issues" } GitHub issues tracker
              for any bugs or issues.
            %h2 License
            %p
              This code is available under the MIT License. See the
              %a{:href => "LICENSE" } LICENSE
              file for more details.
          %div{:class => ["yui-u"]}
            %div{:class => ["examples"]}
              %h2 Examples
              %h3 Text
              %input{:name => "text-example", :type => "text", :placeholder => "Some placeholding text", :size => "25"}
              %h3 Search
              %input{:name => "search-example", :type => "search", :placeholder => "Do a search...", :size => "25"}
              %h3 Email
              %input{:name => "email-example", :type => "email", :placeholder => "Please enter an email address", :size => "25"}
              %h3 URL
              %input{:name => "url-example", :type => "url", :placeholder => "Please enter a URL", :size => "25"}
            %div{:class => ["html5-logo"]}
              :plain
                <a href="http://www.w3.org/html/logo/">
                <img src="http://www.w3.org/html/logo/badge/html5-badge-h-semantics.png" width="133" height="64" alt="HTML5 Powered with Semantics" title="HTML5 Powered with Semantics">
                </a>
      #ft
        %p
          &copy; 2010 
          %a{:href => "http://andrew-jones.com"} Andrew Jones
